h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size:3.25em;
  display:inline-block;
  margin-bottom:0;
}
h2 {
  display:inline-block;
  padding-left: 0.5em;
}
h3 {
  font-size:2em;
}
quote {
  display:inline-block;
  font-weight:200;
  span {
    font-style: italic;
  }
}

p {
  font-weight: 300;
}

button {
  width:10em;
  height:3em;
  border:0;
  border-radius: 5%;
  background-color: #6794ef;
  opacity:0.75;
  color:white;
  margin:3em 0;
  cursor: pointer;
  text-transform: uppercase;
  &.selected, &:hover {
    // background-color:#5375ba;
    opacity:1;
  }
  &:disabled {
    opacity:0.75;
    cursor: default;
  }
}

.section button {
  margin:0;
}