body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color:#5b5b5b;
  margin:0;
  position:relative;
}

body > div {
  padding:0.5em 1em;
}

.container {
  max-width:980px;
  margin:0 auto;
  clear:both;
  div:nth-child(2) {
    margin-bottom: 2em;
  }
}

.main {
  // hide initially in case js is turned off
  display: none;
  border-bottom:1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  overflow:auto;
}

.section {
  display:none;
  margin-bottom: 2em;
  overflow:auto;
}

.previewEnabled {
  .output {
    width:40%;
    float:right;
  }
  .input {
    width:60%;
    float:left;
    box-sizing: border-box;
    padding-right: 2em;
  }
}

.active {
  display:block;
}

.offlineUsage {
  .onlineSpacesOnly {
    display:none;
  }
}

.onlineUsage {
  .offlineSpacesOnly {
    display: none;
  }
}

.offlineUsage.onlineUsage {
  .onlineSpacesOnly, .offlineSpacesOnly {
    display:block;
  }
}

#prefixing {
  display:none;
}

#outputCoC, #CoCWindow {
  display:none;
}

#popover {
  position:absolute;
  z-index:1;
  display:none;
  background-color:black;
  opacity:0.75;
  width:100%;
  height:100%;
  height:100vh;
}

#CoCWindow {
  width:50%;
  height:50%;
  z-index:2;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  #copyableCoC {
    width:100%;
    height: 100%;
  }
}

input[type="text"] {
  display:block;
  margin-top:1em;
  width:50%;
}