@media (max-width:900px) {
  cta {
    display:block;
    text-align: right;
    padding:0.5em;
    width:100%;
  }
}

@media(max-width:650px) {
  header h2 {
    display:block;
    padding-left: 0;
  }
  .previewEnabled {
    .input, .output {
      width:auto;
    }
  }
}