@media (max-width:900px) {
  cta {
    display:block;
    text-align: right;
    padding:0.5em;
    width:100%;
  }
}

@media(max-width:650px) {
  header h2 {
    display:block;
    padding-left: 0;
  }
  .previewEnabled {
    .input, .output {
      width:100%;
      padding-right: 0;
    }
  }
  h3 {
    font-size:1.75em;
  }
  .section, .container div:nth-child(2) {
    margin-bottom: 1em;
  }
}

@media (max-width:550px) {
  input[type="text"] {
    width:240px;
  }
}