h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size:3.25em;
  display:inline-block;
  margin-bottom:0;
}
h2 {
  display:inline-block;
  padding-left: 0.5em;
}
h3 {
  font-size:2em;
}
quote {
  display:inline-block;
  font-weight:200;
  span {
    font-style: italic;
  }
}

#basic .input {
  h4 {
    margin-bottom: 0;
  }
  h4 ~ p {
    display: inline-block;
    padding-right:1em;
  }
}

.output quote {
  font-style: italic;
}

p, li {
  font-weight: 300;
}

cta {
  float:right;
  a, a:visited {
    text-decoration: none;
    color:#6794ef;
    opacity:0.8;
    &:hover {
      opacity: 1.0;
    }
  }
}

#intro label, #additionalSpaces label {
  max-width: 9em;
  text-align: center;
}
button {
  width:10em;
}

#intro label, button, #additionalSpaces label {
  border:0;
  border-radius: 15%;
  background-color: #6794ef;
  opacity:0.75;
  color:white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline-block;
  padding:1em;
  input {
    opacity:0;
    position:absolute;
    cursor: pointer;
  }
  &.selected, &:hover {
    opacity:1;
  }
  &:disabled {
    opacity:0.5;
    cursor: default;
  }
}

.section button {
  margin:0;
}