@import 'includes/text';

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color:darkgray;
}

header {
  margin-bottom:2em;
}

.container {
  max-width:980px;
  margin:0 auto;
}

.section {
  display:none;
}
.active {
  display:block;
}

.offlineUsage {
  #onlineSpaces {
    display:none;
  }
}

.onlineUsage {
  #offlineSpaces {
    display: none;
  }
}

.offlineUsage.onlineUsage {
  #onlineSpaces, #offlineSpaces {
    display:block;
  }
}