@import 'includes/text';

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color:#5b5b5b;
}

header {
  margin-bottom:4em;
}

.container {
  max-width:980px;
  margin:0 auto;
}

.section {
  display:none;
  padding-bottom: 2em;
  border-bottom:1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.active {
  display:block;
}

.offlineUsage {
  #onlineSpaces {
    display:none;
  }
}

.onlineUsage {
  #offlineSpaces {
    display: none;
  }
}

.offlineUsage.onlineUsage {
  #onlineSpaces, #offlineSpaces {
    display:block;
  }
}