@import 'includes/text';

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color:#5b5b5b;
}

header {
  margin-bottom:2em;
}

.container {
  max-width:980px;
  margin:0 auto;
  div:nth-child(2) {
    margin-bottom: 2em;
  }
}

.main {
  // hide initially in case js is turned off
  display: none;
  border-bottom:1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  overflow:auto;
}

.section {
  display:none;
  padding-bottom: 2em;
  overflow:auto;
}

.previewEnabled {
  .output {
    width:40%;
    float:right;
  }
  .input {
    width:60%;
    float:left;
    box-sizing: border-box;
    padding-right: 2em;
  }
}

.active {
  display:block;
}

.offlineUsage {
  #onlineSpaces {
    display:none;
  }
}

.onlineUsage {
  #offlineSpaces {
    display: none;
  }
}

.offlineUsage.onlineUsage {
  #onlineSpaces, #offlineSpaces {
    display:block;
  }
}

#prefixing {
  display:none;
}

